<!DOCTYPE html>
<head>
<title>{{title}} --  {{time}}</title>
</head>
<body>


<p>
<br>Area 1 {% if sole1 == 0 %} <a href="/0/deslig">ligado </a>{% else %} <a href="/0/lig"> desligado </a>{% endif %}
<br>Area 2 {% if sole2 == 0 %} <a href="/1/deslig">ligado </a>{% else %} <a href="/1/lig"> desligado </a>{% endif %}
<br>Area 3 {% if sole3 == 0 %} <a href="/2/deslig">ligado </a>{% else %} <a href="/2/lig"> desligado </a>{% endif %}
<br>Area 4 {% if sole4 == 0 %} <a href="/3/deslig">ligado </a>{% else %} <a href="/3/lig"> desligado </a>{% endif %}
<br>Area 5 {% if sole5 == 0 %} <a href="/4/deslig">ligado </a>{% else %} <a href="/4/lig"> desligado </a>{% endif %}
<br>Area 6 {% if sole6 == 0 %} <a href="/5/deslig">ligado </a>{% else %} <a href="/5/lig"> desligado </a>{% endif %}
<br>Area 7 {% if sole7 == 0 %} <a href="/6/deslig">ligado </a>{% else %} <a href="/6/lig"> desligado </a>{% endif %}
<br>Area 8 {% if sole8 == 0 %} <a href="/7/deslig">ligado </a>{% else %} <a href="/7/lig"> desligado </a>{% endif %}


</p>
</body>
</html>